<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="pt.hive.eclipse.plugins.nature.contribution">
         <action
               label="Add/Remove Hive Nature"
               class="pt.hive.eclipse.plugins.nature.actions.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="pt.hive.eclipse.plugins.nature.actions.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
